
/*************Base styles**************/
* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    /*background-color: grey;*/
    padding: 0px;
    margin: 0px;
}

h1 {
    margin-bottom: 30px;
    font-size: 1.75em;
    text-align: center;
}

section {
    border: 1px solid black; 
    width: 100%;
    height: 100%;
    background-color: rgb(184, 184, 187);
    color: white;
    clear: both;
    position: relative;
}

.container {
    position: relative;
}

.row {
    width: 100%;
}

.item-name {
    background-color: pink;
    text-align: center;
    color: black;
    width: 30%;
    border: 1px solid black;
    position: relative;
    left: 70%;
    font-size: 1.25em;
}

/*************Large devices only**************/
@media (min-width: 992px) {
    .col-lg-4, .col-lg-6, .col-lg-12 {
        float: left;
        padding: 10px;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-6 {
        width: 33%;
    }
    .col-lg-12 {
        width: 33%;
    }
}

/*************Medium devices only**************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-4, .col-md-6, .col-md-12 {
        float: left;
        padding: 10px;
    }
    .col-md-4 {
        width: 50%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/*************Small devices only**************/
@media (max-width: 767px) {
    .col-sm-4, .col-sm-6, .col-sm-12 {
        float: left;
        padding: 10px;
    }
    .col-sm-4 {
        width: 100%;
    }
    .col-sm-6 {
        width: 100%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

