<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- href don't have to be public/app.css as we've told the express to serve contents in public directory in app.js -->
    <!-- add a / in front of app.css asks the code to search the app.css file from the root directory, otherwide it will search app.css in the same directory -->
    <link rel="stylesheet" href="/app.css">
    <title>Partial's Header</title>
</head>
<body>